licenseKey: 00000000-0000-0000-0000-000000000000
mode: ingest

cluster:
  pvClass: eyelevel-pv
  type: openshift

  imagePullPolicy: Always

  secrets:
    - eyelevel-secret-credentials

  preProcessors:
    - processorId: 13
      type: extract

  nodeLabels:
    cpuMemory: eyelevel-node
    cpuOnly: eyelevel-node
    gpuLayout: eyelevel-node
    gpuRanker: eyelevel-node
    gpuSummary: eyelevel-node

file:
  customDomain: minio-eyelevel.apps.98155a51-eyelevelai.openshiftpartnerlabs.com

groundx:
  serviceType: Route

engines:
  default:
    engineId: RedHatAI/Qwen2.5-VL-7B-Instruct-FP8-Dynamic
    reasoningEffort: low
    vision: true

summary:
  existing:
    url: https://qwen25-vl-7b-instruct-maas-apicast-production.apps.prod.rhoai.rh-aiservices-bu.com/v1
    serviceType: openai-base64

extract:
  enabled: true

  agent:
    enabled: true

    modelId: RedHatAI/Qwen2.5-VL-7B-Instruct-FP8-Dynamic
    apiBaseUrl: https://qwen25-vl-7b-instruct-maas-apicast-production.apps.prod.rhoai.rh-aiservices-bu.com/v1
    serviceType: openai

    resources:
      requests:
        cpu: 100m
        memory: 512Mi

  api:
    enabled: true

    serviceType: Route

    resources:
      requests:
        cpu: 100m
        memory: 256Mi

  download:
    enabled: true

    resources:
      requests:
        cpu: 100m
        memory: 256Mi

  save:
    enabled: true

    resources:
      requests:
        cpu: 1
        memory: 2Gi
