tenant:
  certificate:
    requestAutoCert: false
  configSecret:
    accessKey: minio
    secretKey: minio123
  containerSecurityContext: null
  name: minio-tenant
  nodeSelector:
    node: eyelevel-node
  podSecurityContext: null
  securityContext: null
  pools:
    - name: minio-tenant-pool-0
      containerSecurityContext: null
      nodeSelector:
        node: eyelevel-node
      podSecurityContext: null
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
      securityContext: null
      servers: 1
      size: 20Gi
      volumesPerServer: 1
